@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
:root {
    font-size: 20px;
  }
   
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
  body {
    font: 1em/1.618 Inter, sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 30px;
    margin: 0;
    margin-top:0vh;
    color: #224;
    background:
    url(https://images6.alphacoders.com/421/421437.jpg)
    center / cover no-repeat fixed;
    justify-content: center;
  }
  
  tr,th,td{
    padding:20px;
    align-content: center;
    text-align: center;
    color:rgb(41, 40, 40);
    border: 3px solid #ddd;

  }
  table{
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    padding:20px;
    border-collapse: collapse;

  }
  .boton_refrescar{
    background-color: #0BDA51; 
    border:none;
    color:white;
    border-radius: 100%;
    padding:15px 20px 15px 20px;
    font-size: 20px;
    margin-left: -80px;
    margin-right: 10px;
  }

  .boton_retornar{
      background-color: #f00707; 
      border:none;
      color:white;
      border-radius: 100%;
      padding:15px 20px 15px 20px;
      font-size: 16px;
      margin-left: 20px;
      margin-right: 10px;
  }

  i{
    color: white;
  }