@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background: url("../images/imagen_login.png")  center / cover no-repeat fixed; 
  font-family: 'Vibur', cursive;
  font-family: 'Abel', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }



form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);
}
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}
header h2 {
    font-size: 250%;
    font-family: 'Abel', sans-serif;
    color: #3e403f;
    margin-top:30 px;
}
header p {letter-spacing: 0.05em;}


.input-item {
    background: #fff;
    color: #333;
    padding: 14px 0px 14.5px 9px;
    border-radius: 20px 0px 0px 20px;
}

.form-input{
    width: 250px;
    height: 49.5px;
    margin-top: 2%;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #717681;
    outline: none;
    border: none;
    border-radius: 0px 20px 20px 0px;
    transition: 0.5s;
    
}


.log-in {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 20px;
    background: #ffffffe4;
    border-radius: 20px;
    outline: none;
    border: none;
    text-align: center;
    margin:10% auto;
    margin-top:50px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    line-height: 50px;
}
.log-in:hover{
  box-shadow: 0 0 20px rgba(255,255,255,0.5);
  transition-duration: 0.5s;

}




input{
  margin-bottom: 40px;
}
