<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar elementos a bodega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_ingreso_bodega.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="header" >
        <div id="redirigir_ingresar_elemento">Ingresar elementos a bodega</div>
        <div id="redirigir_sacar_elemento">
            <a href="{{ url_for('salida_bodega') }}">Sacar elemento de bodega</a>
        </div>
        <div>
            <a href="{{ url_for('inventario') }}">Inventario</a>
        </div>
        <div class="contenedor_botones_header">
            <a href="{{ url_for('logout') }}">
                <i class="fa fa-sign-out" aria-hidden="true" id="boton_salir" ></i>
            </a>

        </div>
    </div>


<form id="formulario_ingreso" method="post">
<div class="cuerpo_pagina">
    <div class="items">
        <div class="card">
            <div class="contenedor_imagenes">
                <img class="image" src="../static/images/ingreso_imagen_1.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="aumentar1" >+</div>
                <div class="disminuir" id="disminuir1">-</div>
                <input value="0" type="number" id="cantidad_producto1" name="cantidad_producto1">
            </div>
          </div>
    
        <div class="card">
            <div class="contenedor_imagenes">
                <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="aumentar2" >+</div>
                <div class="disminuir" id="disminuir2">-</div>
                <input value="0" type="number" id="cantidad_producto2" name="cantidad_producto2">
            </div>
        </div>
    
        <div class="card">
            <div class="contenedor_imagenes">
                <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="aumentar3" >+</div>
                <div class="disminuir" id="disminuir3">-</div>
                <input value="0" type="number" id="cantidad_producto3" name="cantidad_producto3">
            </div>
        </div>
    
        <div class="card">
            <div class="contenedor_imagenes">
                <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="aumentar4" >+</div>
                <div class="disminuir" id="disminuir4">-</div>
                <input value="0" type="number" id="cantidad_producto4" name="cantidad_producto4">
            </div>
        </div>
    
    </div>

    <div class="contenedor_envio">
        <input value="enviar" type="submit" class="boton_envio">
    </div>

</div>

</form>



</body>
<script src="{{ url_for('static', filename='js/logica_entrada_bodega.js') }}"></script>

</html>