<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_inventario.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Inventario</title>

</head>
<div class="contenedor_header">
    <form method="post" action="/inventario" >
        <select class="tipo_de_consulta" name="tipo_de_consulta" >
            <option value="Consultar inventario">Consultar inventario</option>
            <option value="Consultar tiempo de linea de produccion">Consultar tiempo de linea de produccion</option>
            <option value="Consultar tiempo de estaciones independientes">Consultar tiempo de estaciones independientes</option>
        </select>
        <button type="submit" class="boton_refrescar">
            <i class="fa fa-rotate-right" aria-hidden="true" id="boton_salir" ></i>
        </button>
</form>

<div class="contenedor_boton_retornar" style="position: absolute;">
    {%if last_state == "entrada" %}
    <div class="boton_retornar">
        <a href="{{ url_for('entrada_bodega') }}">
            <i class="fa fa-backward" aria-hidden="true" id="boton_salir"></i>
        </a>
    </div>
    {% elif last_state == "salida" %}
    <div class="boton_retornar">
        <a href="{{ url_for('salida_bodega') }}">
            <i class="fa fa-backward" aria-hidden="true" id="boton_salir"></i>
        </a>
    </div>
    {% endif %}
</div>

 </div>

<body>

    {% if data %}
    <table class="tabla_datos">
        <tr>
            {% for column in data[0].keys() %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for value in row.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table> 
    {% else %}
    <!-- Código para mostrar un mensaje cuando no hay datos -->
    <p>No hay datos disponibles.</p>
{% endif %}


</body>
</html>