<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sacar elementos de bodega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_salida_bodega.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="header">
        <div id="redirigir_ingresar_elemento">
            <a href="{{ url_for('entrada_bodega') }}">Ingresar elementos a bodega</a>
        </div>
        <div id="redirigir_sacar_elemento">Sacar elementos de bodega</div>
        <div>
            <a href="{{ url_for('inventario') }}">Inventario y tiempos</a>
        </div>
        <div class="contenedor_botones_header">
            <a href="{{ url_for('logout') }}">
                <i class="fa fa-sign-out" aria-hidden="true" id="boton_salir"></i>
            </a>
        </div>
    </div>


<form id="formulario_salida" method="post">

<div class="cuerpo_pagina">
    <div class="items">
        <div class="card">
            <div class="contenedor_informacion">
                Kit 1
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="../static/images/ingreso_imagen_1.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar1" >+</div>
                <div class="disminuir" id="s_disminuir1">-</div>
                <input value="0" type="number" id="s_cantidad_producto1" name="s_cantidad_producto1">
            </div>
          </div>


        <div class="card">
            <div class="contenedor_informacion">
                Kit 2
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar2" >+</div>
                <div class="disminuir" id="s_disminuir2">-</div>
                <input value="0" type="number" id="s_cantidad_producto2" name="s_cantidad_producto2">
            </div>
          </div>

          <div class="card">
            <div class="contenedor_informacion">
                Kit 3
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar3" >+</div>
                <div class="disminuir" id="s_disminuir3">-</div>
                <input value="0" type="number" id="s_cantidad_producto3" name="s_cantidad_producto3">
            </div>
          </div>

          <div class="card">
            <div class="contenedor_informacion">
                Kit 4
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar4" >+</div>
                <div class="disminuir" id="s_disminuir4">-</div>
                <input value="0" type="number" id="s_cantidad_producto4" name="s_cantidad_producto4">
            </div>
          </div>
    </div>
    <div class="contenedor_envio">
        <input type="submit" value="Enviar" class="boton_envio">
    </div>
</div>

          
</form>

<script src="{{ url_for('static', filename='js/logica_salida_bodega.js') }}"></script>

</body>
</html>