<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sacar elementos de bodega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_salida_bodega.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="header">
        <div id="redirigir_ingresar_elemento">
            <a href="{{ url_for('entrada_bodega') }}">Ingresar elementos a bodega</a>
        </div>
        <div id="redirigir_sacar_elemento">Sacar elementos de bodega</div>
        <div>
            <a href="{{ url_for('inventario') }}">Inventario y tiempos</a>
        </div>
        <div class="contenedor_botones_header">
            <a href="{{ url_for('logout') }}">
                <i class="fa fa-sign-out" aria-hidden="true" id="boton_salir"></i>
            </a>
        </div>
    </div>


<form id="formulario_salida" method="post">

<div class="cuerpo_pagina">


    <div class="items">
        <div class="card">
            <div class="contenedor_informacion">
                Kit 1
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="../static/images/ingreso_imagen_1.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar1" >+</div>
                <div class="disminuir" id="s_disminuir1">-</div>
                <input value="0" type="number" id="s_cantidad_producto1" name="s_cantidad_producto1">
            </div>
          </div>


        <div class="card">
            <div class="contenedor_informacion">
                Kit 2
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar2" >+</div>
                <div class="disminuir" id="s_disminuir2">-</div>
                <input value="0" type="number" id="s_cantidad_producto2" name="s_cantidad_producto2">
            </div>
          </div>

          <div class="card">
            <div class="contenedor_informacion">
                Kit 3
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar3" >+</div>
                <div class="disminuir" id="s_disminuir3">-</div>
                <input value="0" type="number" id="s_cantidad_producto3" name="s_cantidad_producto3">
            </div>
          </div>

          <div class="card">
            <div class="contenedor_informacion">
                Kit 4
            </div>
            <div class="contenedor_imagenes">
                <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
            </div>
            <div class="contenedor_seleccion">
                <div class="aumentar" id="s_aumentar4" >+</div>
                <div class="disminuir" id="s_disminuir4">-</div>
                <input value="0" type="number" id="s_cantidad_producto4" name="s_cantidad_producto4">
            </div>
          </div>



    <div class="card">
        <div class="contenedor_informacion">
            Kit 5
        </div>
        <div class="contenedor_imagenes">
            <img class="image" src="../static/images/ingreso_imagen_1.jpg">
        </div>
        <div class="contenedor_seleccion">
            <div class="aumentar" id="s_aumentar5" >+</div>
            <div class="disminuir" id="s_disminuir5">-</div>
            <input value="0" type="number" id="s_cantidad_producto5" name="s_cantidad_producto5">
        </div>
      </div>


    <div class="card">
        <div class="contenedor_informacion">
            Kit 6
        </div>
        <div class="contenedor_imagenes">
            <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
        </div>
        <div class="contenedor_seleccion">
            <div class="aumentar" id="s_aumentar6" >+</div>
            <div class="disminuir" id="s_disminuir6">-</div>
            <input value="0" type="number" id="s_cantidad_producto6" name="s_cantidad_producto6">
        </div>
      </div>

      <div class="card">
        <div class="contenedor_informacion">
            Kit 7
        </div>
        <div class="contenedor_imagenes">
            <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
        </div>
        <div class="contenedor_seleccion">
            <div class="aumentar" id="s_aumentar7" >+</div>
            <div class="disminuir" id="s_disminuir7">-</div>
            <input value="0" type="number" id="s_cantidad_producto7" name="s_cantidad_producto7">
        </div>
      </div>

      <div class="card">
        <div class="contenedor_informacion">
            Kit 8
        </div>
        <div class="contenedor_imagenes">
            <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
        </div>
        <div class="contenedor_seleccion">
            <div class="aumentar" id="s_aumentar8" >+</div>
            <div class="disminuir" id="s_disminuir8">-</div>
            <input value="0" type="number" id="s_cantidad_producto8" name="s_cantidad_producto8">
        </div>
      </div>




<div class="card">
    <div class="contenedor_informacion">
        Kit 9
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="../static/images/ingreso_imagen_1.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar9" >+</div>
        <div class="disminuir" id="s_disminuir9">-</div>
        <input value="0" type="number" id="s_cantidad_producto9" name="s_cantidad_producto9">
    </div>
  </div>


<div class="card">
    <div class="contenedor_informacion">
        Kit 10
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar10" >+</div>
        <div class="disminuir" id="s_disminuir10">-</div>
        <input value="0" type="number" id="s_cantidad_producto10" name="s_cantidad_producto10">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 11
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar11" >+</div>
        <div class="disminuir" id="s_disminuir11">-</div>
        <input value="0" type="number" id="s_cantidad_producto11" name="s_cantidad_producto11">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 12
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar12" >+</div>
        <div class="disminuir" id="s_disminuir12">-</div>
        <input value="0" type="number" id="s_cantidad_producto12" name="s_cantidad_producto12">
    </div>
  </div>









<div class="card">
    <div class="contenedor_informacion">
        Kit 13
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="../static/images/ingreso_imagen_1.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar13" >+</div>
        <div class="disminuir" id="s_disminuir13">-</div>
        <input value="0" type="number" id="s_cantidad_producto13" name="s_cantidad_producto13">
    </div>
  </div>


<div class="card">
    <div class="contenedor_informacion">
        Kit 14
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar14" >+</div>
        <div class="disminuir" id="s_disminuir14">-</div>
        <input value="0" type="number" id="s_cantidad_producto14" name="s_cantidad_producto14">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 15
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar15" >+</div>
        <div class="disminuir" id="s_disminuir15">-</div>
        <input value="0" type="number" id="s_cantidad_producto15" name="s_cantidad_producto15">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 16
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar16" >+</div>
        <div class="disminuir" id="s_disminuir16">-</div>
        <input value="0" type="number" id="s_cantidad_producto16" name="s_cantidad_producto16">
    </div>
  </div>






<div class="card">
    <div class="contenedor_informacion">
        Kit 17
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="../static/images/ingreso_imagen_1.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar17" >+</div>
        <div class="disminuir" id="s_disminuir17">-</div>
        <input value="0" type="number" id="s_cantidad_producto17" name="s_cantidad_producto17">
    </div>
  </div>


<div class="card">
    <div class="contenedor_informacion">
        Kit 18
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar18" >+</div>
        <div class="disminuir" id="s_disminuir18">-</div>
        <input value="0" type="number" id="s_cantidad_producto18" name="s_cantidad_producto18">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 19
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar19" >+</div>
        <div class="disminuir" id="s_disminuir19">-</div>
        <input value="0" type="number" id="s_cantidad_producto19" name="s_cantidad_producto19">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 20
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar20" >+</div>
        <div class="disminuir" id="s_disminuir20">-</div>
        <input value="0" type="number" id="s_cantidad_producto20" name="s_cantidad_producto20">
    </div>
  </div>




  <div class="card">
    <div class="contenedor_informacion">
        Kit 21
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="../static/images/ingreso_imagen_1.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar21" >+</div>
        <div class="disminuir" id="s_disminuir21">-</div>
        <input value="0" type="number" id="s_cantidad_producto21" name="s_cantidad_producto21">
    </div>
  </div>


<div class="card">
    <div class="contenedor_informacion">
        Kit 22
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar22" >+</div>
        <div class="disminuir" id="s_disminuir22">-</div>
        <input value="0" type="number" id="s_cantidad_producto22" name="s_cantidad_producto22">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 23
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar23" >+</div>
        <div class="disminuir" id="s_disminuir23">-</div>
        <input value="0" type="number" id="s_cantidad_producto23" name="s_cantidad_producto23">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 24
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar24" >+</div>
        <div class="disminuir" id="s_disminuir24">-</div>
        <input value="0" type="number" id="s_cantidad_producto24" name="s_cantidad_producto24">
    </div>
  </div>




  <div class="card">
    <div class="contenedor_informacion">
        Kit 25
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="../static/images/ingreso_imagen_1.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar25" >+</div>
        <div class="disminuir" id="s_disminuir25">-</div>
        <input value="0" type="number" id="s_cantidad_producto25" name="s_cantidad_producto25">
    </div>
  </div>


<div class="card">
    <div class="contenedor_informacion">
        Kit 26
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar26" >+</div>
        <div class="disminuir" id="s_disminuir26">-</div>
        <input value="0" type="number" id="s_cantidad_producto26" name="s_cantidad_producto26">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 27
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://m.brickshop.eu/components/com_virtuemart/shop_image/product/LEGO_Wiel_43.2D__62c6b181061a0.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar27" >+</div>
        <div class="disminuir" id="s_disminuir27">-</div>
        <input value="0" type="number" id="s_cantidad_producto27" name="s_cantidad_producto27">
    </div>
  </div>

  <div class="card">
    <div class="contenedor_informacion">
        Kit 28
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://super-briques.fr/9046-large_default/technic-brick-1x8-7-holes-lego-part-3702.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar28" >+</div>
        <div class="disminuir" id="s_disminuir28">-</div>
        <input value="0" type="number" id="s_cantidad_producto28" name="s_cantidad_producto28">
    </div>
  </div>



  <div class="card">
    <div class="contenedor_informacion">
        Kit 29
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="../static/images/ingreso_imagen_1.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar29" >+</div>
        <div class="disminuir" id="s_disminuir29">-</div>
        <input value="0" type="number" id="s_cantidad_producto29" name="s_cantidad_producto29">
    </div>
  </div>


<div class="card">
    <div class="contenedor_informacion">
        Kit 30
    </div>
    <div class="contenedor_imagenes">
        <img class="image" src="https://bricksandgo.com/756-large_default/lego-3003-brick-2x2-orange.jpg">
    </div>
    <div class="contenedor_seleccion">
        <div class="aumentar" id="s_aumentar30" >+</div>
        <div class="disminuir" id="s_disminuir30">-</div>
        <input value="0" type="number" id="s_cantidad_producto30" name="s_cantidad_producto30">
    </div>
  </div>





</div>





    <div class="contenedor_envio">
        <input type="submit" value="Enviar" class="boton_envio">
    </div>
</div>

          
</form>

<script src="{{ url_for('static', filename='js/logica_salida_bodega.js') }}"></script>

</body>
</html>