<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_reloj.css') }}">}
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>

</head>
<body background="../static/imags/fondo_estaciones.jpg">

<div class="envolvente">


<div class="flexi">
    <div class="contenedor_camara">
        <div id="your-qr-result"></div>
        <div style="display:flex; justify-content: center; border-radius: 10px">
            <div id="my-qr-reader" style="width:370px; border-radius: 10px;">
            </div>
        </div>   
    </div>   

    <div class="contenedor_cronometros">
        <div class="wrapper">
            <div class="punto_de_trabajo">Tiempo armado de producto</div>
            <div class="time">
                <span class="hour">00</span>
                <span class="dos_puntos">:</span>
                <span class="minute">00</span>
                <span class="dos_puntos">:</span>
                <span class="second">00</span>
                <span class="dos_puntos">:</span>
                <span class="millisecond">00</span>
            </div>
            <div class="buttons">
                <button class="estado_proceso">Inactivo</button>
            </div>
        </div>
        <div class="wrapper">
            <div class="punto_de_trabajo">Tiempo de inactividad</div>
            <div class="time">
                <span class="hour2">00</span>
                <span class="dos_puntos">:</span>
                <span class="minute2">00</span>
                <span class="dos_puntos">:</span>
                <span class="second2">00</span>
                <span class="dos_puntos">:</span>
                <span class="millisecond2">00</span>
            </div>
            <div class="buttons">
                <button class="estado_proceso_inactividad">Inactivo</button>
            </div>
        
    
        </div>
    
    </div>

</div>


<div class="contenedor_pdf">
    <iframe src="{{ url_for('static', filename='PDF/manuales.pdf') }}" width="600px" height="95%"></iframe>
</div>


</div>

<form method="post" class="formulario_tiempos" style="display:none" action="/">
    <input type="number" class="horas" name="horas">
    <input type="number" class="minutos" name="minutos">
    <input type="number" class="segundos" name="segundos">
    <input type="number" class="milisegundos" name="milisegundos">

    <input type="number" class="horas_inactivo" name="horas_inactivo">
    <input type="number" class="minutos_inactivo" name="minutos_inactivo">
    <input type="number" class="segundos_inactivo" name="segundos_inactivo">
    <input type="number" class="milisegundos_inactivo" name="milisegundos_inactivo">

    <input type="submit" class="envio_tiempo">
</form>



<select id="optionSelect">
    <option value="">--Seleccione modo de producción</option>
    <option value="opcion1">Produccion individual</option>
    <option value="opcion2">Cadena de produccion</option>
  </select>
  <div id="selectedOption"></div>

  <script>
    $(document).ready(function () {
      $("#optionSelect").change(function () {
        var selectedValue = $(this).val();
        if (selectedValue === "opcion1" || selectedValue === "opcion2") {
          $.ajax({
            url: "/handle_option",
            type: "POST",
            data: JSON.stringify({ option: selectedValue }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
              $("#selectedOption").text(data.message);
            },
          });
        }
      });
    });
  </script>


<!--<script src="https://unpkg.com/html5-qrcode"></script>

-->

<script src="{{ url_for('static', filename='js/html5-qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/logica_reloj.js') }}"></script>

</body>
</html>